@import "../../variables/variables";

.my-services-m {
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}


//HEADER MY SERVICES------------------------------------------------------------------------------------------
.text-my-services {
    width: 100%;
    background-color: $third-color;
}

// PARALLAX-------------------------------------------------------------------------------------------------
.parallax-bg-img {
    width: 100vw;
    height: 100vh;
    filter: grayscale(100%) blur(3px);
}

// CONTENT CONTAINER------------------------------------------------------------------------------------------
.content-container-my-services {
    width: 100%;
    height: auto;
    display: flex;
    gap: 40px;
    flex-direction: row;
}

.stainless-welding {
    flex: .5;

}

.construction-welding-img, .stainless-welding-img {
    position: relative;
}


.welding-banner {

    position: absolute;
    bottom: 30px;
    right: -20px;
    z-index: 100;
    width: 350px;
    max-width: 400px;
    padding: 1.25em 1.875em;
    background-color: #FFED00;

 &:before {
    content: '';
    border-width: 10px;
    border-color: #FFED00 transparent transparent #FFED00;
    border-style: solid;
    position: absolute;
    bottom: -20px;
    right: 0;
    z-index: -1;
 }

}

.welding-banner-text {
    font-family: $main-font;
    color: $second-color;
    font-size: 1.5em;
}

.stainless-welding-bg {
    width: 100%;
    max-height: 300px;
    object-fit: cover;

}

.construction-welding {
    flex: .5;
}

// WELDING LIST --------------------------------------------------------------------------------------------

.welding-list {
    display: block;
    width: 100%;
    height: auto;
    background-color: $main-color;


    li {
        font-family: $main-font;
        font-size: 1.5em;
        font-weight: 600;
        color: $second-color;
        padding: 1em 1.5em;
        border-bottom: 5px solid $third-color;
        list-style-type: none;

        :nth-child(1) {
            margin-left: 40px;
           
        }
    }
}


@media ( max-width: 920px ) {

    .content-container-my-services {
        flex-direction: column;
    }

}

@media ( max-width: 520px ) {

    .welding-list {

        li {
            font-size: 1em;
        }
    }

    .welding-banner-text {
        font-size: 1.2em;
    }

    .stainless-welding-bg {
        max-height: 200px;
    }
}
