@import "../../variables/variables";

.about-us-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3.4375em;

  h4 {
    align-self: center;
    font-family: $second-font;
    font-size: 4em;
    color: $third-color;
    text-shadow: 1px 1px 1px #000;
  }

  .about-us-underline {
    align-self: center;
    width: 100px;
    height: 5px;
    box-shadow: 1px 1px 1px #000;
    background-color: $third-color;
  }
}

.about-us-p {
  padding: 9.375em 0;
}

.about-us-item-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 3.4375em;
}

.about-us-left {
  flex: 1;
}

.about-us-image-container {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: -1;
    width: 50%;
    height: 70%;
    background-color: $third-color;
  }
}

.about-us-img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.about-us-banner {
  position: absolute;
  bottom: 60px;
  right: -40px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0, 625em;
  width: 350px;
  max-width: 280px;
  padding: 1.25em;
  background-color: $third-color;

  &::before {
    content: "";
    position: absolute;
    bottom: -40px;
    right: 0;
    z-index: -1;
    border-width: 20px;
    border-color: $third-color transparent transparent $third-color;
    border-style: solid;
  }

  p {
    flex: 0.7;
    font-size: 1em;
    color: $second-color;
  }
}

.about-us-star {
  flex: 0.3;
  font-size: 4.1875em;
  color: $second-color;
}

.about-us-text-container {
  display: flex;
  flex-basis: 1;
  flex-direction: column;
  gap: 2.1875em;
  flex: 1;

  p {
    width: 100%;
    font-size: 1em;
    line-height: 2em;
    color: $second-color;
  }
}

@media (max-width: 1000px) {
  .about-us-p {
    padding: 6em 0;
  }

  .about-us-item-container {
    flex-direction: column;
  }

  .about-us-left {
    order: 2;
  }

  .about-us-text-container {
    order: 1;
  }
}

@media (max-width: 520px) {
  .about-us-banner {
    bottom: -76px;
    right: 0;

    &::before {
      display: none;
    }
  }
}
