@import "../../variables/variables";


.header-main-container {
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    background-image: url("../../img/header-img.webp");


}

.content-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.content-box {
    position: absolute;
    max-width: 620px;
    top: 10%;
    left: 0;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0;
    opacity: 0;
    transform: scale(0);
    transition: all 1s ease-in-out;
    background-color: rgba($color: #000000, $alpha: .5);

    h1 {
        font-size: clamp(6em, 7em, 7.5em);
        color: $third-color;
        font-family: $second-font;
        text-shadow: 1px 1px 5px #000;
    }

    p {
        font-size: clamp(2em, 3em, 3.5em);
        font-family: $main-font;
        text-shadow: 1px 1px 5px #000;
        
    }
}

.header-link {
    max-width: 210px;
    text-align: center;
    font-size: clamp(2em, 2.5em, 3em);
    background-color: $third-color;
    color: $second-color;
    padding: .2em 0;
    font-weight: 600;
    cursor: pointer;
    transform: scale(1);
    transition: transform .5s ease-in-out;

    &:hover {
        transform: scale(1.1);
        transition: transform .5s ease-in-out;
    }
    
}

.content-box-show {
    transform: scale(1);
    padding: 2em;
    opacity: 1;
    transition: all 1s ease-in-out;
}


@media ( max-width: 520px ) {

    .content-box {
        
        h1 { font-size: 3.8em; }

        p { font-size: 1.8em; }

        .header-link {
            font-size: 1.5em;
        }
    }

}